.logo-header {
  width: 100px;
  height: 65px;
  margin-top: -13px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #023031;
  align-items: center;
}

.user {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  align-items: center;
  justify-self: end;
  margin-right: 25px;
}

.user p {
  position: relative;
  justify-self: center;
  grid-row: 1/2;
  grid-column: 2/3;
  margin-left: 10fr;
  margin-bottom: 0px;
  font-size: 18px;
  max-height: 30px;
  max-width: 80px;
  text-overflow: clip;
  overflow:hidden;
}

.avatar {
  position: relative;
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: 6px;
  width: 27px;
  height: 27px;
}

.rectangle {
  grid-row: 1/2;
  grid-column: 1/4;
  margin-top: 4px;
  width: 150px;
  height: 40px;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  width: 100%;
  background-color: #117B7D;
}

nav .search-link, nav .favorites-link, nav .profile-link {
  color: #fffffe;
  width: 70px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.line1 {
  background-color: #419193;
  width: 2px;
  height: 45px;
}

.line2 {
  background-color: #419193;
  width: 2px;
  height: 45px;
}

@media screen and (min-width: 1650px) {
  .logo-header {
    width: 140px;
    height: 95px;
    margin-left: 35px;
  }

  .header-top {
    height: 115px;
  }
  
  .header-bottom, .line1, .line2 {
    height: 60px;
  }

  .user {
    margin-right: 50px;
  }

  .user p {
    margin-left: 15px;
    font-size: 25px;
    max-height: 40px;
    max-width: 80px;
    text-overflow: clip;
    overflow:hidden;
  }
  
  .avatar {
    margin-left: 8px;
    margin-top: 2px;
    width: 40px;
    height: 40px;
  }
  
  .rectangle {
    grid-row: 1/2;
    grid-column: 1/4;
    margin-top: 10px;
    width: 210px;
    height: 55px;
  }
  
  nav .search-link, nav .favorites-link, nav .profile-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) { 
  nav .search-link, nav .favorites-link, nav .profile-link {
    font-size: 16px;
  }
}