.loading-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.loading-screen span {
  margin: 10px;
}

.loading-screen h1 {
  margin: 10px;
  color: #fffffe;
}