.login{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #16161a;
}

.logo-login {
  max-width: 208px;
  max-height: 158px;
  margin-bottom: 104px;
  margin-left: -10px;
}

form {
  width: 519px;
  height: 314px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-user-name {
  width: 519px;
  margin-bottom: 31px;
}

.btn-primary {
  width: 519px;
}

@media screen and (max-width: 565px) {
  .input-user-name, .btn-primary {
    width: 300px;
  }
}

@media screen and (min-width: 1640px) {
  .input-user-name, .btn-primary {
    height: 50px;
    width: 600px;
  }

  .logo-login {
    max-width: 248px;
    max-height: 208px;
  }
}
